					
	<div class="list-group">
		<a href="#" class="list-group-item active">Toutes les marques</a>
		{% for brand in brands %}
		<a href="/store/product/{{brand.id}}" class="list-group-item">{{brand.name|capitalize}}</a>
		{% endfor %}
	</div>
